/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D5CBBC;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #466995;
    padding: 50px 20px;
}

.logo {
    flex-grow: 1; /* El logo ocupa todo el espacio disponible */
    text-align: center;
}

.logo img {
    width: 18%; /* Ajusta el ancho según tu necesidad */
}

nav {
    display: flex;
    justify-content: flex-end; /* Las secciones se alinean a la derecha */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer elemento */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #1C77C3;
}

/* Estilos para el menú desplegable */
.dropdown {
    position:absolute;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C77C3;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    display:flex;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #2E5266;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos generales */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.square {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    overflow: hidden; /* Para ocultar el desbordamiento del pseudo-elemento */
}

.square img {
    width: 200px;
    height: 200px;
}

.square h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 1;
    color: white; /* Color del texto */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.square::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad de color negro */
    z-index: 0;
    opacity: 1; /* Opacidad */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
    
}
.square:hover::before {
    opacity: 0; /* Al pasar el mouse, oculta el color negro */
}

van gogh
.image-1-icon {
    position: absolute;
    height: 44.97%;
    width: 41.25%;
    top: 21.72%;
    right: 53.26%;
    bottom: 33.31%;
    left: 5.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    display: none;
}
.a-lo-largo {
    margin-block-start: 0;
    margin-block-end: 20px;
}
.su-estilo-distintivo {
    margin: 0;
}
.a-lo-largo-container {
    position: absolute;
    height: 21.25%;
    width: 37.78%;
    top: 45.78%;
    left: 50.42%;
    font-weight: 500;
    display: none;
}
.a-pesar-de {
    position: absolute;
    height: 25.2%;
    width: 37.43%;
    top: 68.16%;
    left: 50.42%;
    font-weight: 500;
    display: none;
}
.image-12-icon {
    position: absolute;
    height: 24.53%;
    width: 41.25%;
    top: 66.69%;
    right: 53.26%;
    bottom: 8.78%;
    left: 5.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    display: none;
}
.vincent-van-gogh {
    position: absolute;
    height: 2.54%;
    width: 35.49%;
    top: 7.51%;
    left: 32.22%;
    font-size: 40px;
    text-decoration: underline;
    font-weight: 500;
    color: #163564;
    text-align: center;
    display: inline-block;
}
.vincent-van-gogh-container {
    position: absolute;
    height: 62.58%;
    width: 40.14%;
    top: 20.17%;
    left: 10.21%;
    font-weight: 500;
    display: inline-block;
}
.vangogh-icon {
    position: absolute;
    height: 37.08%;
    width: 33.75%;
    top: 20.17%;
    right: 10.28%;
    bottom: 42.75%;
    left: 55.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.vangogh1-icon {
    position: absolute;
    height: 19.31%;
    width: 32.71%;
    top: 58.4%;
    right: 11.32%;
    bottom: 22.29%;
    left: 55.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.desktop-14 {
    width: 100%;
    position: relative;
    background-color: #d5cbbc;
    height: 1745px;
    overflow: hidden;
    text-align: justify;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
}



GAUGIN
.image-1-icon {
    position: absolute;
    height: 44.97%;
    width: 41.25%;
    top: 21.72%;
    right: 53.26%;
    bottom: 33.31%;
    left: 5.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    display: none;
}
.paul-gauguin-fue {
    margin-block-start: 0;
    margin-block-end: 20px;
}
.gauguin-es-conocido {
    margin: 0;
}
.paul-gauguin-fue-container {
    position: absolute;
    height: 68.57%;
    width: 35.21%;
    top: 18.9%;
    left: 54.86%;
    font-weight: 500;
    display: inline-block;
    font-size: 16px;
}
.a-lo-largo-container {
    position: absolute;
    height: 21.25%;
    width: 37.78%;
    top: 45.78%;
    left: 50.42%;
    font-weight: 500;
    display: none;
}
.a-pesar-de {
    position: absolute;
    height: 25.2%;
    width: 37.43%;
    top: 68.16%;
    left: 50.42%;
    font-weight: 500;
    display: none;
}

.image-14-icon {
    position: absolute;
    height: 25.13%;
    width: 42.64%;
    top: 53%;
    right: 47.43%;
    bottom: 12.53%;
    left: 9.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.image-13-icon {
    position: absolute;
    height: 30%;
    width: 42.64%;
    top: 18.9%;
    right: 47.78%;
    bottom: 40.28%;
    left: 9.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.vincent-van-gogh {
    position: absolute;
    height: 2.55%;
    width: 35.49%;
    top: 7.51%;
    left: 32.22%;
    font-size: 40px;
    text-decoration: underline;
    font-weight: 500;
    color: #163564;
    text-align: center;
    display: inline-block;
}
.desktop-7 {
    width: 100%;
    position: relative;
    background-color: #d5cbbc;
    height: 1492px;
    overflow: hidden;
    text-align: justify;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
}

seurat 
.image-1-icon {
    position: absolute;
    height: 44.97%;
    width: 41.25%;
    top: 21.72%;
    right: 53.26%;
    bottom: 33.31%;
    left: 5.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    display: none;
}
.georges-seurat-fue {
    margin-block-start: 0;
    margin-block-end: 20px;
}
.trgicamente-la-carrera {
    margin: 0;
}
.georges-seurat-fue-container {
    position: absolute;
    height: 68.57%;
    width: 35.21%;
    top: 19.3%;
    left: 9.93%;
    font-weight: 500;
    display: inline-block;
}
.a-lo-largo-container {
    position: absolute;
    height: 21.25%;
    width: 37.78%;
    top: 45.78%;
    left: 50.42%;
    font-weight: 500;
    display: none;
}
.a-pesar-de {
    position: absolute;
    height: 25.2%;
    width: 37.43%;
    top: 68.16%;
    left: 50.42%;
    font-weight: 500;
    display: none;
}
.georges-seurat {
    position: absolute;
    height: 2.55%;
    width: 35.49%;
    top: 7.51%;
    left: 32.22%;
    font-size: 40px;
    text-decoration: underline;
    font-weight: 500;
    color: #163564;
    text-align: center;
    display: inline-block;
}
.image-15-icon {
    position: absolute;
    height: 38.27%;
    width: 39.65%;
    top: 19.5%;
    right: 9.93%;
    bottom: 42.23%;
    left: 50.42%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.image-16-icon {
    position: absolute;
    height: 25.8%;
    width: 39.1%;
    top: 58.71%;
    right: 10%;
    bottom: 15.48%;
    left: 50.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.desktop-8 {
    width: 100%;
    position: relative;
    background-color: #d5cbbc;
    height: 1492px;
    overflow: hidden;
    text-align: justify;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
}








.los-aos-en {
    position: absolute;
    top: 600px;
    left: 791px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-align: justify;
    display: inline-block;
    width: 479px;
    height: 688px;
}
.el-post-impresionismo {
    position: absolute;
    top: 600px;
    left: 180px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-align: justify;
    display: inline-block;
    width: 479px;
    height: 688px;
}
.cul-es-la {
    position: absolute;
    top: 1300px;
    left: 180px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-align: justify;
    display: inline-block;
    width: 484px;
    height: 324px;
}
.cul-es-la1 {
    position: absolute;
    top: 1300px;
    left: 791px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-align: justify;
    display: inline-block;
    width: 484px;
    height: 324px;
}
.desktop-2-child {
    position: absolute;
    top: 27px;
    left: 71px;
    width: 1366px;
    height: 142px;
}

.el-mundo-de-van-gogh1-1-icon {
    position: absolute;
    top: 200px;
    left: 113px;
    width: 1213px;
    height: 335px;
    object-fit: cover;
}
.image-2-icon {
    position: absolute;
    top: 940px;
    left: 113px;
    width: 1213px;
    height: 309px;
    object-fit: cover;
}

.postimpresionismo {
    position: absolute;
    top: 100px;
    left: 464px;
    font-size: 40px;
    font-weight: 500;
    color: #163564;
    display: inline-block;
    width: 511px;
    height: 38px;
}
.vansiente-1-icon {
    position: absolute;
    top: 1690px;
    left: 113px;
    width: 1213px;
    height: 309px;
    object-fit: cover;
    }
.desktop-2 {
    width: 100%;
    position: relative;
    background-color: #d5cbbc;
    height: 2095px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Poppins;
}





   
contacto
.desktop-3-child {
    position: absolute;
    top: 27px;
    left: 71px;
    width: 1366px;
    height: 142px;
}



.contacto {
    width: 511px;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    font-family: Poppins;
    color: #163564;
    text-align: center;
    display: inline-block;
    height: 38px;
    top: 80px;
}

.nombre-y-apellido {
    position: absolute;
    top: 230px;
    left: 473px;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    width: 205px;
    height: 32px;
}
.mail {
    position: absolute;
    top: 325px;
    left: 471px;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    width: 205px;
    height: 32px;
}
.telefono {
    position: absolute;
    top: 415px;
    left: 471px;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    width: 205px;
    height: 32px;
}
.consulta {
    position: absolute;
    top: 510px;
    left: 471px;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    width: 205px;
    height: 32px;
}
.galera {
    position: absolute;
    top: 115px;
    left: 959px;
    font-weight: 500;
    display: inline-block;
    width: 165px;
    height: 32px;
}
.contacto1 {
    position: absolute;
    top: 120px;
    left: 1109px;
    font-weight: 500;
    display: inline-block;
    width: 165px;
    height: 32px;
}
.desktop-3-item {
    position: absolute;
    top: 1595px;
    left: 0px;
    width: 1440px;
    height: 121px;
}
.white-elegant-typography-fashi1 {
    position: absolute;
    top: 1508px;
    left: 634px;
    width: 312px;
    height: 317px;
    object-fit: cover;
}
.image-3-icon {
    position: absolute;
    top: 230px;
    left: 115px;
    width: 315px;
    height: 457px;
    object-fit: cover;
}
.desktop-3-inner {
    position: absolute;
    top: 360px;
    left: 471px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 487px;
    height: 42px;
}
.rectangle-div {
    position: absolute;
    top: 265px;
    left: 471px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 487px;
    height: 42px;
}
.desktop-3-child1 {
    position: absolute;
    top: 700px;
    left: 826px;
    border-radius: 5px;
    background-color: #4b84db;
    width: 126px;
    height: 28px;
}
.desktop-3-child2 {
    position: absolute;
    top: 450px;
    left: 471px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 487px;
    height: 42px;
}
.enviar {
    position: absolute;
    top: 700px;
    left: 786px;
    font-weight: 500;
    display: inline-block;
    width: 205px;
    height: 32px;
}
.desktop-3-child3 {
    position: absolute;
    top: 545px;
    left: 471px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 487px;
    height: 91px;
}
.image-4-icon {
    position: absolute;
    top: 230px;
    left: 1002px;
    width: 317px;
    height: 457px;
    object-fit: cover;
}
.desktop-3 {
    width: 100%;
    position: relative;
    background-color: #d5cbbc;
    height: 849px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Poppins;
}

.desktop-5-child {
  	position: absolute;
  	top: 27px;
  	left: 71px;
  	width: 1366px;
  	height: 142px;
}
.white-elegant-typography-fashi {
  	position: absolute;
  	top: -79px;
  	left: 541px;
  	width: 425px;
  	height: 432px;
  	object-fit: cover;
}


tienda
.image-1-icon {
    position: absolute;
    height: 44.97%;
    width: 41.25%;
    top: 21.72%;
    right: 53.26%;
    bottom: 33.31%;
    left: 5.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    display: none;
}
.a-lo-largo {
    margin-block-start: 0;
    margin-block-end: 20px;
}
.su-estilo-distintivo {
    margin: 0;
}
.a-lo-largo-container {
    position: absolute;
    height: 21.25%;
    width: 37.78%;
    top: 45.78%;
    left: 50.42%;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    display: none;
}
.a-pesar-de {
    position: absolute;
    height: 25.2%;
    width: 37.43%;
    top: 68.16%;
    left: 50.42%;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    display: none;
}
.image-12-icon {
    position: absolute;
    height: 24.53%;
    width: 41.25%;
    top: 66.69%;
    right: 53.26%;
    bottom: 8.78%;
    left: 5.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    display: none;
}
.tienda {
    position: absolute;
    height: 2.55%;
    width: 35.49%;
    top: 3.08%;
    left: 32.36%;
    font-size: 40px;
    font-weight: 500;
    color: #163564;
    display: inline-block;
}
.image-5-icon {
    position: absolute;
    height: 17.63%;
    width: 23.61%;
    top: 10.46%;
    right: 63.61%;
    bottom: 71.92%;
    left: 12.78%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.image-13 {
    position: absolute;
    height: 17.63%;
    width: 23.61%;
    top: 42.09%;
    right: 63.61%;
    bottom: 40.28%;
    left: 12.78%;
}
.image-14 {
    position: absolute;
    height: 17.63%;
    width: 23.61%;
    top: 72.52%;
    right: 63.4%;
    bottom: 9.85%;
    left: 12.99%;
}
.tienda2-1-icon {
    position: absolute;
    height: 17.63%;
    width: 23.68%;
    top: 10.46%;
    right: 38.4%;
    bottom: 71.92%;
    left: 37.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.tineda4-1-icon {
    position: absolute;
    height: 17.43%;
    width: 23.33%;
    top: 10.46%;
    right: 13.54%;
    bottom: 72.11%;
    left: 63.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.primeros-pasos {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 30.03%;
    left: 15.21%;
    font-weight: 500;
    display: inline-block;
}
.primeros-pasos1 {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 61.66%;
    left: 15.21%;
    font-weight: 500;
    display: inline-block;
}
.el-dandy-moribundo {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 92.09%;
    left: 15.42%;
    font-weight: 500;
    display: inline-block;
}
.vincent-van-gogh-container {
    position: absolute;
    height: 7.04%;
    width: 19.1%;
    top: 32.91%;
    left: 15%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.paul-czzane-francia-container {
    position: absolute;
    height: 7.04%;
    width: 19.1%;
    top: 64.54%;
    left: 15%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.nils-dardel-suecia-container {
    position: absolute;
    height: 7.04%;
    width: 19.1%;
    top: 94.97%;
    left: 15.21%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.pal-czzane-francia-container {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 32.91%;
    left: 40.21%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.vincent-van-gogh-container1 {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 64.54%;
    left: 40.21%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.giovanni-segantini-italia-container {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 94.97%;
    left: 40.42%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.georges-seurat-francia-container {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 32.91%;
    left: 65.21%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.vincent-van-gogh-container2 {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 64.54%;
    left: 65.21%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.paul-czanne-francia-container {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 94.97%;
    left: 65.42%;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.los-jugadores-de {
    position: absolute;
    height: 1.94%;
    width: 21.39%;
    top: 30.03%;
    left: 39.1%;
    font-weight: 500;
    display: inline-block;
}
.caf-nocturno {
    position: absolute;
    height: 1.94%;
    width: 21.39%;
    top: 61.66%;
    left: 39.1%;
    font-weight: 500;
    display: inline-block;
}
.malas-madres {
    position: absolute;
    height: 1.94%;
    width: 21.39%;
    top: 92.09%;
    left: 39.31%;
    font-weight: 500;
    display: inline-block;
}
.el-circo {
    position: absolute;
    height: 1.94%;
    width: 19.1%;
    top: 30.03%;
    left: 65.21%;
    font-weight: 500;
    display: inline-block;
}
.la-iglesia-de {
    position: absolute;
    height: 1.94%;
    width: 23.96%;
    top: 61.66%;
    left: 63.47%;
    font-weight: 500;
    display: inline-block;
}
.leda-y-el {
    position: absolute;
    height: 1.94%;
    width: 23.96%;
    top: 92.09%;
    left: 63.68%;
    font-weight: 500;
    display: inline-block;
}
.tienda3-1-icon {
    position: absolute;
    height: 17.69%;
    width: 23.61%;
    top: 42.09%;
    right: 63.4%;
    bottom: 40.22%;
    left: 12.99%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.tienda3-2-icon {
    position: absolute;
    height: 17.69%;
    width: 23.61%;
    top: 72.52%;
    right: 63.19%;
    bottom: 9.79%;
    left: 13.19%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.tienda5-1-icon {
    position: absolute;
    height: 17.36%;
    width: 23.26%;
    top: 42.09%;
    right: 38.61%;
    bottom: 40.55%;
    left: 38.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.tienda5-2-icon {
    position: absolute;
    height: 17.36%;
    width: 23.26%;
    top: 72.52%;
    right: 38.4%;
    bottom: 10.12%;
    left: 38.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.tienda6-1-icon {
    position: absolute;
    height: 17.36%;
    width: 23.33%;
    top: 42.09%;
    right: 13.75%;
    bottom: 40.55%;
    left: 62.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.tienda6-2-icon {
    position: absolute;
    height: 17.36%;
    width: 23.33%;
    top: 72.52%;
    right: 13.54%;
    bottom: 10.12%;
    left: 63.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.desktop-12 {
    width: 100%;
    position: relative;
    background-color: #d5cbbc;
    height: 1492px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Poppins;
}










galeria de imagenes
.galera-de-imgenes {
        position: absolute;
        top: 115px;
        left: 464px;
        text-decoration: underline;
        font-weight: 500;
        display: inline-block;
        width: 511px;
        height: 38px;
        }


.image-22-icon {
    position: absolute;
    top: 1721px;
    left: 796px;
    width: 573px;
    height: 1873px;
    object-fit: cover;
}
.image-27-icon {
    position: absolute;
    top: 5109px;
    left: 694px;
    width: 675px;
    height: 504px;
    object-fit: cover;
}
.image-28-icon {
    position: absolute;
    top: 5342px;
    left: 89px;
    width: 544px;
    height: 992px;
    object-fit: cover;
}
.image-29-icon {
    position: absolute;
    top: 5661px;
    left: 694px;
    width: 680px;
    height: 535px;
    object-fit: cover;
}
.image-17-icon {
    position: absolute;
    top: 253px;
    left: 82px;
    width: 530px;
    height: 720px;
    object-fit: cover;
}
.image-18-icon {
    position: absolute;
    top: 253px;
    left: 652px;
    width: 713px;
    height: 720px;
    object-fit: cover;
}
.image-19-icon {
    position: absolute;
    top: 1004px;
    left: 82px;
    width: 1283px;
    height: 652px;
    object-fit: cover;
}
.image-20-icon {
    position: absolute;
    top: 1722px;
    left: 82px;
    width: 674px;
    height: 541px;
    object-fit: cover;
}
.image-21-icon {
    position: absolute;
    top: 2329px;
    left: 82px;
    width: 661px;
    height: 422px;
    object-fit: cover;
}
.image-23-icon {
    position: absolute;
    top: 2817px;
    left: 82px;
    width: 661px;
    height: 779px;
    object-fit: cover;
}
.image-24-icon {
    position: absolute;
    top: 4572px;
    left: 82px;
    width: 540px;
    height: 705px;
    object-fit: cover;
}
.image-25-icon {
    position: absolute;
    top: 3662px;
    left: 81px;
    width: 1283px;
    height: 844px;
    object-fit: cover;
}
.image-26-icon {
    position: absolute;
    top: 4572px;
    left: 693px;
    width: 671px;
    height: 491px;
    object-fit: cover;
}
.desktop-10 {
    width: 100%;
    position: relative;
    background-color: #d5cbbc;
    height: 6435px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #163564;
    font-family: Poppins;
    top: 100px;
}





footer {
    background-color: #466995;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    margin-top: 100px; /* Ajusta el margen superior para cambiar el top */
}

.social-media {
    margin-bottom: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.privacy-policy a {
    color: #fff;
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}